<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>גרף סוכר בדם</title>
    <link rel="stylesheet" href="/css/glucose-chart.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
</head>
<body>
    <div class="filter-container">
        <label for="startDate"></label>
        <input type="date" id="startDate">
        <label for="endDate"></label>
        <input type="date" id="endDate">
    </div>

    <div class="button-container">
        <button id="filterButton"></button>
        <button id="resetButton"></button>
    </div>

    <div class="color-picker-container">
        <label for="colorPicker">בחר צבע לגרף:</label>
        <input type="color" id="colorPicker">
    </div>

    <canvas id="glucoseChart"></canvas>

    <script src="/js/glucose-chart.js"></script>
</body>
</html>
