<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f39c;
        position: fixed; 
        width: 100%; 
        top: 0; 
        z-index: 1000; 
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: #509aa9;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover:not(.active) {
        background-color: #ddd;
    }
    
    li a.active {
        color: white;
        background-color: #c18874;
    }
    
    main {
        margin-top: 50px;
        padding: 20px; 
        margin-top: 20px; 
    
    }
    </style>
</head>
<body>
    <header>
     
        <nav>
            <ul>
                <li><a class="active" href="/mainPage">Home</a></li>
                <li><a href="/add-meal">Add meal</a></li>
                <!--<li><a href="#">היסטוריית ארוחות</a></li>-->
                <li><a href="/glucose-chart">Graph meals</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <%- body %> 
    </main>
</body>
</html>
