<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>
<body>
    <header>
        <!-- כאן יופיע סרגל הכלים שלך -->
        <nav>
            <ul>
                <li><a href="/add-meal">הוספת ארוחה</a></li>
                <li><a href="#">היסטוריית ארוחות</a></li>
                <li><a href="#">הודעות מהמרפאה</a></li>
                <li><a href="/mealChart">גרף ארוחות</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <%- body %> <!-- תוכן הדף יוכנס כאן -->
    </main>
</body>
</html>
